{extend name='layouts/cms'}
{block name='body-content'}
<form class="layui-form form-op-normal layui-form-pane bg-white">
    <div class="layui-form-item">
        <label class="layui-form-label label-custom">Old Password</label>
        <div class="layui-input-inline">
            <input type="password" name="old_password" id="old_password"
                   placeholder="" autocomplete="off" class="layui-input input-pwd">
        </div>
        <div class="layui-form-mid layui-word-aux">alphanumeric</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-custom">Password</label>
        <div class="layui-input-inline">
            <input type="password" name="password" id="password"
                   placeholder="" autocomplete="off" class="layui-input input-pwd">
        </div>
        <div class="layui-form-mid layui-word-aux">alphanumeric</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-custom">Confirm Password</label>
        <div class="layui-input-inline">
            <input type="password" id="re_password"
                   placeholder="" name="re_password" autocomplete="off" class="layui-input input-pwd-re">
        </div>
        <span class="layui-badge-dot span-dot"></span>
        <div class="div-tip layui-form-mid">
            <span class="layui-badge tip-pwd span-dot">confirm password</span>

        </div>
    </div>
    <input type="hidden" id="user_name" value="{$admin['user_name']}"/>
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn" type="button"
                    op_url="{:url('cms/admin/updatePassword',['id'=>$admin.id])}" onclick="opFormPostAdmin(this)"
                    lay-submit lay-filter="formDemo">Update
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
        </div>
    </div>
</form>
<script type='text/javascript' src="__CMS__/js/crypto-js.js"></script>
<script type='text/javascript' src="__CMS__/js/aes.js"></script>
<script>
    function opFormPostAdmin(obj,failcb) {
        var toUrl = $(obj).attr('op_url');
        var userName = $('#user_name').val();
        var oldPassword = $('#old_password').val();
        var password = $('#password').val();
        var rePassword = $('#re_password').val();
        var token = $("input[name='__token__']").val();
        if(oldPassword.length == 0){
            layer.msg('old password can not be empty!');
            return;
        }
        if(password.length == 0){
            layer.msg('password can not be empty!');
            return;
        }
        if(password != rePassword){
            layer.msg('the two passwords do not match!');
            return;
        }
        var oldMd5Pwd = CryptoJS.MD5(oldPassword).toString();
        var oldPublicKey = aesEncrypt(userName,oldMd5Pwd,'qsxxqsxxqsxxqsxx');
        var newMd5Pwd = CryptoJS.MD5(password).toString();
        var newPublicKey = aesEncrypt(userName,newMd5Pwd,'qsxxqsxxqsxxqsxx');
        var postData = {
            old_public_key:oldPublicKey,
            new_public_key:newPublicKey,
            __token__:token
        };
        ToPostPopupsDeal(toUrl, postData,failcb);
    }
    $(document).ready(function () {

    });
</script>
{/block}
{block name='single-content'}
{/block}
