{extend name="layouts/cms"}
{block name='body-content'}
<div class="content">
    <!---->
    <div class="container">
        <form class="custom-form layui-form" lay-filter="form">
            <div class="header-content">{php}echo htmlspecialchars_decode($form['header_content']){/php}</div>
            <div class="layui-clear">
                <div class="form-title">Form Name:{$form['name']}</div>
                <div class="form-header-left">
                    <div class="form-header-line bold">Vendor</div>
                    <div class="form-header-line"></div>
                    <div class="form-header-line"></div>
                    <div class="form-header-line"></div>
                    <div class="form-header-line"></div>
                    <div class="form-header-line"></div>
                </div>
                <div class="form-header-right">
                    <div class="form-header-item">
                        <div class="form-header-line">Contact Person:</div>
                        <div class="form-header-line">Business Phone: </div>
                        <div class="form-header-line">Email: </div>
                    </div>
                </div>
            </div>
            <div class="instruction">{php}echo htmlspecialchars_decode($form['instruction']){/php}</div>
            <div>
                <p class="mgt10"><a href="#" style="color: orange">Click here to view Seminar Programmes</a></p>
                <p class="mgt10"><a href="#" onclick="viewAvailableSlot();" style="color: orange">Click here to see available slot</a></p>
                <div class="location-block {$form['have_location']==0?'hidden':''}">
                    <select id="locationGroup" lay-filter="locationGroup"></select>
                    <select id="location" lay-filter="location"></select>
                </div>
                <p class="mgt10">We request the following information so that we can liaise with you and promote your Presentation(s):</p>
                <div class="mgt10">
                    <select name="presentation_date" id="presentationDate" lay-verify="required" lay-filter="presentation_date">
                        <option value="">Select Day</option>
                        <option value="">Day1</option>
                    </select>
                </div>
                <div class="mgt10">
                    <select name="presentation_time" id="presentationTime" lay-verify="required" lay-filter="presentation_time" >
                        <option value="">Select Time</option>
                        <option value="1100 hrs">1100 hrs</option>
                        <option value="1130 hrs">1130 hrs</option>
                        <option value="1200 hrs">1200 hrs</option>
                        <option value="LUNCH" disabled="disabled">LUNCH</option>
                        <option value="1400 hrs">1400 hrs</option>
                        <option value="1430 hrs">1430 hrs</option>
                        <option value="1500 hrs">1500 hrs</option>
                        <option value="1530 hrs">1530 hrs</option>
                        <option value="1600 hrs">1600 hrs</option>
                    </select>
                </div>
                <div class="layui-form-item mgt20 {$form['have_location']==1?'hidden':''}">
                    <div class="bold font20" style="text-decoration: underline;">Presentation Details</div>
                    <div class="layui-input-inline" style="width: 100%">
                        This is<span class="red">*</span>  <input type="radio" name="is_new_product" value="1" title="A New Product Launch" checked><input type="radio" name="is_new_product" value="0" title="No,this is NOT a New Product">
                    </div>
                </div>
                <div class="layui-form-item mgt20 {$form['have_location']==1?'hidden':''}">
                    <div class="bold font20">Title / Topic of Presentation<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="title"
                               value=""
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="{$form['have_location']==1?'':'required'}">
                    </div>
                </div>
                <div class="layui-form-item mgt20 {$form['have_location']==1?'hidden':''}">
                    <div class="bold font20">Synopsis<span class="red">*</span></div>
                    <div>Please include a Synopsis of the Presentation up to a maximum of 150 words.</div>
                    <div class="layui-input-inline">
                        <textarea name="synopsis"
                                  placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="{$form['have_location']==1?'':'required'}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item mgt20 {$form['have_location']==1?'hidden':''}">
                    <div>Please also submit a photo of the Product for promotion purpose.</div>
                    <div class="">Upload Photo of Product<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <button type="button" name="img_upload" class="layui-btn btn_upload_img" data-index="0">
                            <i class="layui-icon">&#xe67c;</i>Upload Image
                        </button>
                        <img class="layui-upload-img img-attr upload_img_preview0"
                             src="">
                        <input type="hidden" name="product_img_url" value="" class="upload_img_url0" lay-verify="{$form['have_location']==1?'':'required'}" lay-reqText="Please upload product photo!"/>
                    </div>
                </div>
                <div class="layui-form-item mgt20 {$form['have_location']==1?'hidden':''}">
                    <div class="bold font20">Speaker(s)<span class="red">*</span></div>
                    <div>Please provide a CV of the Speaker(s) (maximum of 150 words)for promotion purpose.</div>
                    <div class="layui-input-inline">
                        <textarea name="speaker_cv"
                                  placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="{$form['have_location']==1?'':'required'}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item mgt20 {$form['have_location']==1?'hidden':''}">
                    <div>A photo of the Speaker(s) will be useful.</div>
                    <div class="">Upload Photo of Speaker<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <button type="button" name="img_upload" class="layui-btn btn_upload_img" data-index="1">
                            <i class="layui-icon">&#xe67c;</i>Upload Image
                        </button>
                        <img class="layui-upload-img img-attr upload_img_preview1"
                             src="">
                        <input type="hidden" name="speaker_img_url" value="" class="upload_img_url1" lay-verify="{$form['have_location']==1?'':'required'}" lay-reqText="Please upload speaker photo!"/>
                    </div>
                </div>
            </div>
            <div><span class="red">*</span>Denotes mandatory fields</div>
            <button class="layui-btn layui-btn-primary mgt20" type="button" onclick="">Reserve Slot</button>
            <div class="cost-notes">{php}echo htmlspecialchars_decode($form['cost_notes']){/php}</div>
            <div class="footer-content">{php}echo htmlspecialchars_decode($form['footer_content']){/php}</div>
            <div>
                <br/>
                <br/>
                <p>Submitter's Information</p>
                <div class="layui-form-item">
                    <div class="">Submitted By<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="form_submit_name"
                               value="" readonly="readonly"
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="">Designation<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="form_submit_designation"
                               value="" readonly="readonly"
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="">Email<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="form_submit_email"
                               value="" readonly="readonly"
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="required|email">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="">Further Instruction (if any)</div>
                    <div class="layui-input-inline">
                        <textarea type="text"  name="form_submit_instruction" autocomplete="off" class="layui-input input-title-mz"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="div-form-op">
                        <button type="button" class="layui-btn" lay-submit lay-filter="booking">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .upload_file_url0,.upload_file_url1,.upload_file_url2,.upload_file_url3{
        width: 300px;
    }
    .form-title{
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #283560;
        color: white;
        text-align: center;
    }
    .form-header-left{
        float: left;
        margin-top: 20px;
    }
    .form-header-right{
        float:right;
        margin-top: 20px;
    }
    .form-header-item{
        margin-bottom: 20px;
    }
    .form-header-line{
        height: 25px;
        line-height: 25px;
    }
    .layui-form-select{
        width: 300px!important;
        display: inline-block!important;
        margin-right: 20px;
    }
</style>
{/block}

{block name='single-content'}

{/block}