{extend name="layouts/base" /}

{block name="content"}
<div class="content">
    <!---->
    <div class="container">
<!--        {php}echo htmlspecialchars_decode($exhibitor['content']){/php}-->
        <br/>
        <p>Dear User,</p>
        <br/>
        <p>Thank you for signing up to use our QSS App by Qest Solutions Pte Ltd.
        We have prepared a step-by-step user guide for your reference.</p>
        <br/>
        <p>Please download it <a target="_blank" href="https://qss.qestsoln.com/QSS%20usage%20guide.pdf" style="text-decoration: underline;">here</a>.</p>
        <br/>
        <p>We wish to inform that 1 account equals 1 user. So to capture more leads, you are most welcome to sign up for more. If you encounter any problems or if you wish to share any positive feedback, please feel write to us at <a href="mailto:admin@qestsolutions.com" style="text-decoration: underline;">admin@qestsolutions.com</a>.</p>
        <br/>
        <p>Thank you for your attention.</p>
        <p>Best regards.</p>
        <br/>
        <br/>
        <p>QEST TEAM</p>
        <br/>
    </div>
</div>
{/block}

