{extend name='layouts/base'}
{block name='content'}
<div class="content">
    <div class="container">
        <form class="layui-form form-op-normal layui-form-pane bg-white">
            <div class="layui-form-item">
                <label class="layui-form-label label-custom">Old Password</label>
                <div class="layui-input-inline">
                    <input type="password" name="old_password" id="old_password"
                           placeholder="" autocomplete="off" class="layui-input input-pwd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label label-custom">Password</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" id="password"
                           placeholder="" autocomplete="off" class="layui-input input-pwd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label label-custom">Confirm Password</label>
                <div class="layui-input-inline">
                    <input type="password" id="re_password"
                           placeholder="" name="re_password" autocomplete="off" class="layui-input input-pwd-re">
                </div>
            </div>
            <input type="hidden" id="user_name" value="{$user['login_name']}"/>
            {:token()}
            <div class="layui-form-item">
                <div class="layui-input-block div-form-op">
                    <button class="layui-btn" type="button"
                            op_url="{:url('/exhibitor/updatePwd')}" onclick="opFormPostAdmin(this)"
                            lay-submit lay-filter="formDemo">Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .layui-form{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .label-custom{
        width: 200px!important;
    }
</style>
<script type='text/javascript' src="__EXHIBITOR__/js/crypto-js.js"></script>
<script type='text/javascript' src="__EXHIBITOR__/js/aes.js"></script>
<script>
    function opFormPostAdmin(obj,failcb) {
        var toUrl = $(obj).attr('op_url');
        var userName = $('#user_name').val();
        var oldPassword = $('#old_password').val();
        var password = $('#password').val();
        var rePassword = $('#re_password').val();
        if(oldPassword.length == 0){
            layer.msg('old password can not be empty!');
            return;
        }
        if(password.length == 0){
            layer.msg('password can not be empty!');
            return;
        }
        if(password != rePassword){
            layer.msg('the two passwords do not match!');
            return;
        }
        var oldMd5Pwd = CryptoJS.MD5(oldPassword).toString();
        var oldPublicKey = aesEncrypt(userName,oldMd5Pwd,'qsxxqsxxqsxxqsxx');
        var newMd5Pwd = CryptoJS.MD5(password).toString();
        var newPublicKey = aesEncrypt(userName,newMd5Pwd,'qsxxqsxxqsxxqsxx');
        var postData = {
            old_public_key:oldPublicKey,
            new_public_key:newPublicKey
        };
        $.post(
            toUrl,
            postData,
            function (result) {
                layer.msg(result.message);
                if(result.status == 200){
                    setTimeout(function () {
                        window.location.href = "{:url('exhibitor/login/logout')}";
                    },2000);
                }else if(result.status == 401){
                    window.location.href = "{:url('exhibitor/login/index')}";
                }
            },"JSON");
    }
</script>
{/block}
