<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QSS</title>
    <meta name="keywords" content="$company"/>
    <meta name="description" content="$company Version:1.0"/>
    <meta name="Author" content="qs"/>
    <meta name="google" content="notranslate">

    <!-- load layui -->
    {include file="layouts/layui" /}
    <!-- 加载公共文件  -->
    <link href="__CMS__/css/zhang.css?v=1" rel="stylesheet">
    <script type='text/javascript' src="__CMS__/js/moZhang.js"></script>
</head>
