{extend name="layouts/base" /}

{block name="content"}
<div class="content">
    <!---->
    <div class="container">
        <form class="custom-form layui-form" lay-filter="form">
            <div class="header-content">{php}echo htmlspecialchars_decode($form['header_content']){/php}</div>
            <div class="layui-clear">
                <div class="form-title">Form Name:{$form['name']}</div>
                <div class="form-header-left">
                    <div class="form-header-line bold">Vendor</div>
                    <div class="form-header-line">{$vendor['name']}</div>
                    <div class="form-header-line">{$vendor['address_line1']}</div>
                    <div class="form-header-line">{$vendor['address_line2']}</div>
                    <div class="form-header-line">{$vendor['postal']}</div>
                    <div class="form-header-line">{$vendor['website']}</div>
                </div>
                <div class="form-header-right">
                    {volist name="vendorAccounts" id="vo"}
                        <div class="form-header-item">
                            <div class="form-header-line text-right">Contact Person: {$vo['first_name']} {$vo['last_name']}</div>
                            <div class="form-header-line text-right">Business Phone: ({$vo['phone_country_code']}) {$vo['phone_area_code']} {$vo['phone_number']}</div>
                            <div class="form-header-line text-right">Email: {$vo['email']}</div>
                        </div>
                    {/volist}
                </div>
            </div>
			<div class="instruction">{php}echo htmlspecialchars_decode($form['instruction']){/php}</div>
            <div>
                <table id="table" style="table-layout:fixed;word-break: break-all" class="layui-table table-body" lay-skin="line" lay-filter="table">
                    <colgroup>
                        <col width="35%">
                        <col width="20%">
                        <col width="10%">
                        <col width="10%">
                        <col width="15%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2" class="borderright">Item</th>
                        <th rowspan="2" class="borderright">Unit Cost Per Hour</th>
                        <th colspan="2" class="center borderright">Date</th>
                        <th rowspan="2" class="center borderright keep-word">Duration<br/>(Hours per day)</th>
                        <th rowspan="2" class="center borderright">No. of Staff Required</th>
                    </tr>
                    <tr>
                        <th class="center borderright">From</th>
                        <th class="center borderright">To</th>
                    </tr>
                    </thead>
                    <tbody class="table-tbody-normal layui-form"
                           record_num="{$record_num}" page_limit="{$page_limit}">
                    {volist name="items" id="vo"}
                        <tr class="tr-normal-{$vo['id']} items" data-id="{$vo['id']}">
                            <td class="title"><span class="item-name">{$vo['name']}</span></td>
                            <td class="title"><span class="item-price">{$vo['item_price']}</span></td>
                            <td class="title"><input type="text" id="dateFrom{$vo['id']}" name="{$vo['id']}-from-date" class="item-from-date"></td>
                            <td class="title"><input type="text" id="dateTo{$vo['id']}" name="{$vo['id']}-to-date" class="item-to-date"></td>
                            <td class="title"><input type="number" max="24" name="{$vo['id']}-duration" class="item-duration"></td>
                            <td class="title"><input type="number" min="1" name="{$vo['id']}-staff-num" class="item-staff-num"></td>
                        </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="layui-form-item mgt20">
                    <div class="">Please indicate the language<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="language"
                               value="{$formData1['language']}"
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="required">
                    </div>
                </div>
            </div>
            <div class="cost-notes">{php}echo htmlspecialchars_decode($form['cost_notes']){/php}</div>
            <div>
                <br/>
                <br/>
                <p>Submitter's Information</p>
                <div class="layui-form-item">
                    <div class="">Submitted By<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="form_submit_name"
                               value="{$formData1['form_submit_name']}"
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="">Designation<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="form_submit_designation"
                               value="{$formData1['form_submit_designation']}"
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="">Email<span class="red">*</span></div>
                    <div class="layui-input-inline">
                        <input type="text"  name="form_submit_email"
                               value="{$formData1['form_submit_email']}"
                               placeholder="" autocomplete="off" class="layui-input input-title-mz" lay-verify="required|email">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="">Further Instruction (if any)</div>
                    <div class="layui-input-inline">
                        <textarea type="text"  name="form_submit_instruction" autocomplete="off" class="layui-input input-title-mz">{$formData1['form_submit_instruction']}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="div-form-op">
                        <button type="button" class="layui-btn" lay-submit lay-filter="manpower">Submit</button>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
            <div class="footer-content">{php}echo htmlspecialchars_decode($form['footer_content']){/php}</div>
            <input type="hidden" name="event_id" value="{$user['event_id']}">
            <input type="hidden" name="company_id" value="{$user['company_id']}">
            <input type="hidden" name="user_id" value="{$user['id']}">
            <input type="hidden" name="form_id" value="{$form['id']}">
            <input hidden="hidden" id="formData" name="form_data" value="{$formData|json_encode}" lay-verify="required">
        </form>
    </div>
</div>
<style>
    .upload_file_url0,.upload_file_url1,.upload_file_url2,.upload_file_url3{
        width: 300px;
    }
    .form-title{
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #283560;
        color: white;
        text-align: center;
    }
    .form-header-left{
        float: left;
        margin-top: 20px;
    }
    .form-header-right{
        float:right;
        margin-top: 20px;
    }
    .form-header-item{
        margin-bottom: 20px;
    }
    .form-header-line{
        height: 25px;
        line-height: 25px;
    }
    .layui-form-item .layui-input-inline{
        width: 380px!important;
    }
    .keep-word{
        word-break: keep-all;
        word-wrap: break-word;
    }
</style>
<script>
    layui.use(['form','laydate'],function () {
        var form = layui.form;
        form.on('submit(manpower)',function () {
            submit();
        });
        loadDate();
        loadData();
    });
    function loadDate() {
        var list = $(".items");
        for(var i=0;i<list.length;i++){
            var obj = list[i];
            var catalogId = obj.dataset.id;
            layui.laydate.render({
                elem:'#dateFrom'+catalogId,
                type:'date',
                trigger:'click',
                lang:'en'
            });
            layui.laydate.render({
                elem:'#dateTo'+catalogId,
                type:'date',
                trigger:'click',
                lang:'en'
            });
        }
    }
    function loadData() {
        var formDatas = JSON.parse($('#formData').val());
        $.each(formDatas,function (i,data) {
            $("input[name='"+data.item_catalog_id+"-from-date']").val(data.item_from_date);
            $("input[name='"+data.item_catalog_id+"-to-date']").val(data.item_to_date);
            $("input[name='"+data.item_catalog_id+"-duration']").val(data.item_duration);
            $("input[name='"+data.item_catalog_id+"-staff-num']").val(data.item_staff_num);
        });
    }
    function checkFormDatas() {
        var list = $(".items");
        var formDatas = [];
        for(var i=0;i<list.length;i++){
            var obj = list[i];
            var fromDate = $(obj).find(".item-from-date").val();
            var toDate = $(obj).find(".item-to-date").val();
            var duration = $(obj).find(".item-duration").val();
            var staffNum = $(obj).find(".item-staff-num").val();
            if(fromDate == '' && toDate == '' && (duration == ''||duration == 0) && (staffNum == ''||staffNum == 0))continue;
            if(fromDate == ''){
                layer.msg('Please enter from date at row '+(i+1)+'!');
                return false;
            }
            if(toDate == ''){
                layer.msg('Please enter to date at row '+(i+1)+'!');
                return false;
            }
            if(new Date(fromDate) > new Date(toDate)){
                layer.msg('from date can not be larger than to date at row '+(i+1)+'!');
                return false;
            }
            if(duration == ''||parseFloat(duration) == 0){
                layer.msg('Please enter duration at row '+(i+1)+'!');
                return false;
            }
            if(parseFloat(duration) <= 0 || parseFloat(duration) > 24){
                layer.msg('Please input valid duration at row '+(i+1)+'!');
                return false;
            }
            if(staffNum == ''||staffNum <= 0){
                layer.msg('Please enter valid no. of staff at row '+(i+1)+'!');
                return false;
            }
            var catalogId = obj.dataset.id;
            var itemName = $(obj).find(".item-name").text();
            var itemPrice = $(obj).find(".item-price").text();
            formDatas.push({
                item_catalog_id:catalogId,
                item_from_date:fromDate,
                item_to_date:toDate,
                item_name: itemName,
                item_price: itemPrice,
                item_duration:parseFloat(duration),
                item_staff_num:parseInt(staffNum)
            });
        }
        $("#formData").val(JSON.stringify(formDatas));
        return true;
    }
    function submit() {
        var blockStatus = "{$blockStatus}";
        if(blockStatus == 'Closed'){
            layer.msg('Sorry, this form is closed! Please contact the organizer');
            return;
        }
        if(!checkFormDatas()){
            return;
        }
        var postData = $(".custom-form").serialize();
        postData += '&is_draft=0';
        var url = "{:url('/exhibitor/manpower/index')}";
        $.post(
            url,
            postData,
            function (result) {
                layer.msg(result.message);
                if(result.status == 401){
                    window.location.href = '/exhibitor';
                }
                if(result.status == 200){
                    setTimeout(function(){
                        var mainType = "{$form['main_type']}";
                        if(mainType == 'Operations'){
                            window.location.href = "{:url('/exhibitor/amenities')}";
                        }else{
                            window.location.href = "{:url('/exhibitor/marketings')}";
                        }
                    },2000);
                }
            },"JSON");
    }
</script>
{/block}

