{extend name="layouts/cms"}
{block name='body-content'}
<form class="layui-form form-op-normal layui-form-pane form-search" action="{:url('cms/freightSettings/index')}" method="get">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label label-custom">Event:</label>
                <div class="layui-input-inline">
                    <select name="event_id" id="event" lay-verify="required" lay-filter="event">
                        <option value="">Please select event</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label label-custom">Content：</label>
                <div class="layui-input-block div-article-content">
                <script id="ue-container" name="content" type="text/plain" style="height: 300px;">
                {php}echo htmlspecialchars_decode($article['content']);{/php}
            </script>
                </div>
            </div>
            <input type='hidden' name="id" value="{$article['id']}">
            <input type="hidden" name="event_id" value="{$event_id}" class="event_id">
            {:token()}
            <div class="layui-form-item">
                <div class="">
                    <button class="layui-btn" type="button"
                            op_url="{:url('cms/freightSettings/index')}"
                            onclick="opFormPostRecord1(this,fail_callback)">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div hidden="hidden" id="events"><?php echo json_encode($events);?></div>
</form>
<script type='text/javascript' src="__CMS__/js/base64.js"></script>
<script>
    function onReady(){
        var events = JSON.parse($('#events').text());
        var event_id = "{$event_id}";
        var eventStr = "";
        $.each(events,function(i,item){
            eventStr += "<option value='"+item['id']+"'>"+item['name']+"</option>";
        });
        $("#event").html(eventStr );
        $("#event").val(event_id);
        layui.form.render();
    }
    layui.use('form',function(){
        var form = layui.form;
        form.on('select(event)',function(data){
            var eventId = data.value;
            $('.event_id').val(eventId);
            $(".form-search").submit();
        });
        onReady();
    });
    function fail_callback(){
        window.location.reload();
    }
    function opFormPostRecord1(obj,failcb) {
        var toUrl = $(obj).attr('op_url');
        var postData = $(".form-op-normal").serializeArray();
        var item = {};
        $.each(postData,function (i,data) {
            if(data['name'] == 'content'){
                item[data['name']] = Base64.encode(data['value']);
            }else{
                item[data['name']] = data['value'];
            }
        });
        ToPostPopupsDeal(toUrl, item,failcb);
    }
</script>
{/block}
{block name='single-content'}
{include file='layouts/ueditor-js'/}
{/block}

