{extend name="layouts/cms"}

{block name='body-content'}

<div class="layui-form-item">
    <button class="layui-btn layui-btn-normal" op_url="{:url('cms/formBadges/add')}"
            onclick="addForOpenPopups(this,'✚ Add form','720px','95%')">
        <i class="layui-icon">&#xe608;</i> Add form
    </button>
</div>
<div class="layui-form-item">
    <label class="layui-form-label label-custom">Select Event</label>
    <div class="layui-input-inline">
        <form class="layui-form layui-form-pane bg-white">
            <select name="event_id" id="event" lay-verify="required" lay-filter="event">
                <option value="">Please select event</option>
            </select>
        </form>
    </div>
</div>
<div hidden="hidden" id="events"><?php echo json_encode($events);?></div>
<div class="layui-inline">
    <label class="static-btn">Search</label>
    <div class="layui-input-inline">
        <form class="form-search" action="{:url('cms/formBadges/index')}" method="get">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
            <input type="text" value="{$search}" name="str_search" placeholder="Enter text to search"
                   class="layui-input search_input">
            <input type="hidden" name="event_id" value="{$event_id}" class="event_id">
        </form>
    </div>
    <button class="layui-btn-warm btn-search-mz">
        <i class="layui-icon">&#xe615;</i>
    </button>
    <button class="layui-btn ml10" onclick="refreshContent();"><i class="layui-icon">&#xe669;</i></button>
</div>

<table class="layui-table table-body" lay-even="" lay-skin="row">
    <colgroup>
        <col width="5%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="5%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th>SN</th>
        <th>Name</th>
        <th>Type</th>
        <th>Due Date</th>
        <th>Event</th>
        <th>Sort</th>
        <th>Operation</th>
    </tr>
    </thead>
    <input type="hidden" class="op_url" value="{:url('cms/formBadges/edit',['id'=>'opid'])}">
    <input type="hidden" class="log_url" value="{:url('cms/formBadges/preview',['id'=>'opid'])}">
    <input type="hidden" class="download_url" value="{:url('cms/formBadges/download')}">
    <input type="hidden" class="report_url" value="{:url('cms/formBadges/report')}">
    <tbody class="table-tbody-normal layui-form"
           ajax_page_fun="ToAjaxOpForPageDatas"
           record_num="{$record_num}" page_limit="{$page_limit}"
           page_url="{:url('cms/formBadges/index')}">
    {volist name="articles" id="vo"}
    <tr class="tr-normal-{$vo['id']}">
        <td>{$vo['id']}</td>
        <td class="title">{$vo['name']}</td>
        <td class="title">{$vo['type']}</td>
        <td class="title">{$vo['due_date']}</td>
        <td class="title">{$vo['event_name']}</td>
        <td class="title">{$vo['sort']}</td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" title="Edit form"
                        onclick="editForOpenPopups('✎ Edit form','{$vo.id}', '720px', '95%')">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-sm" title="Remove form"
                        onclick="delPostRecord('{$vo.id}')">
                    <i class="layui-icon">&#xe640;</i>
                </button>
                <button class="layui-btn layui-btn-sm" title="preview"
                        onclick="viewLogOpenPopups('☁ preview', '{$vo.id}','720px','95%')">
                    <i class="layui-icon">&#xe60e;</i>
                </button>
                <button class="layui-btn layui-btn-sm" title="report"
                        onclick="report('{$vo.id}')">
                    <i class="layui-icon layui-icon-table"></i>
                </button>
                <button class="layui-btn layui-btn-sm" title="download"
                        onclick="download('{$vo.id}')">
                    <i class="layui-icon layui-icon-download-circle"></i>
                </button>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div id="demo2-1"></div>
<style>
    .table-tbody-normal .title{
        color: #283560;
    }
    .table-tbody-normal .p-article-abstract {
        color: #eb7350;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .table-tbody-normal .td-article img {
        cursor: pointer;
        width: 110px;
        max-width: 111px;
    }
    .table-tbody-normal .td-article img:hover {
        transition: all 0.6s;
        transform: scale(3);
        position: relative;
        z-index: 100;
    }
</style>
<script>
    function onReady(){
        var events = JSON.parse($('#events').text());
        var event_id = "{$event_id}";
        var eventStr = "";
        $.each(events,function(i,item){
            eventStr += "<option value='"+item['id']+"'>"+item['name']+"</option>";
        });
        $("#event").html(eventStr );
        $("#event").val(event_id);
        layui.form.render('select');
    }
    layui.use('form',function(){
        var form = layui.form;
        form.on('select(event)',function(data){
            var eventId = data.value;
            $('.event_id').val(eventId);
            $(".form-search").submit();
        });
        onReady();
    });
    function report(id) {
        var op_url = $(".report_url").val();
        var eventId = $('.event_id').val();
        window.location.href = op_url+'?event_id='+eventId+'&form_id='+id;
    }
    function download(id) {
        var op_url = $(".download_url").val();
        var eventId = $('.event_id').val();
        window.location.href = op_url+'?event_id='+eventId+'&form_id='+id;
    }
</script>
{/block}

{block name='single-content'}
<script src="__CMS__/js/forms.js"></script>
{/block}